.btn {
	background-color: rgba(157, 189, 192);
	padding: 6px 20px;
	color: rgb(62, 74, 75);
	text-transform: capitalize;
	font-size: 18px;
	border: 0;
	border-radius: 3px;
}

.btn:hover {
	opacity: 0.9;
	box-shadow: 0 0 3px 0 rgba(175, 209, 213, 0.4);
	cursor: pointer;
}

.add-btn {
	background-color: rgb(53, 122, 107);
	color: white;
	width: 20%;
}

.delete-btn,
.cancel-btn {
	background-color: rgb(224, 152, 120);
	color: rgb(87, 57, 45);
}
