.btn {
	background-color: rgb(77, 78, 139);
	padding: 6px 20px;
	color: white;
	text-transform: capitalize;
	font-size: 18px;
	border: 0;
}

.btn:hover {
	opacity: 0.9;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.edit-btn {
	background-color: rgb(37, 112, 60);
}

.delete-btn {
	background-color: rgb(161, 40, 40);
}
