.table-placeholder {
	margin: 20px 0;
}

table {
	width: 100%;
	border-spacing: 0px;
	background-color: rgb(220, 236, 238);
	border-radius: 5px;
}

thead th {
	padding: 5px 5px;
	background-color: rgba(157, 189, 192);
	color: black;
}

thead th:first-child {
	border-right: 1px solid rgba(157, 189, 192);
}

tbody td {
	padding: 5px 5px;
	border: 1px solid rgba(157, 189, 192);
	width: 33%;
}
